body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f0f8ff;
    width: 1200px;
}

ul li {
    list-style-type: none;
}

nav li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #111;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.logo {
    width: 80px;
    padding-left: 10px;
}

.logo__nav {}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.foto {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 35px;
}

.foto img {
    width: 300px;
}

nav {
    padding-right: 30px;
}

nav li {
    color: #fff;
    margin-right: 10px;
}

nav a:last-child {
    margin-right: 0;
}

nav ul {
    display: flex;
}

div {
    margin-bottom: 15px;
}

.cah {
    text-align: center;
    padding-left: 10px;
}

span {
    font-size: 20px;
}

.social {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.button a {
    color: #fff;
}

.bmail {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.bmail:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.bmail:active {
    color: #000;
}

.bmail:active:after {
    background: transparent;
}

.bmail:hover:before {
    opacity: 1;
}

.bmail:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btel {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btel:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.btel:active {
    color: #000;
}

.btel:active:after {
    background: transparent;
}

.btel:hover:before {
    opacity: 1;
}

.btel:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bf {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.bf :before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.bf :active {
    color: #000;
}

.bf :active:after {
    background: transparent;
}

.bf :hover:before {
    opacity: 1;
}

.bf :after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}